<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Sheet Add/Update</title>
</head>
<body>
    {% extends "main.html" %}
    {% block content %}
    
    <h1>Review Sheet Forms</h1>
    <form action="" method="POST">
        {% csrf_token %}

        {{form.as_p}}
        <input type="submit">
    </form>

    {% endblock %}

</body>
</html>