<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Sheet</title>
</head>
<body>
    {% extends "main.html" %}
   
    {% block content %}
    <h1>Review Sheet</h1>
    <table>
        <tr>
          <th>Name</th>
          <th>Vote</th>
          <th>Created</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      
        {% for project in projects %}
          <tr>
            <td>{{project.title}}</td>
            <td>{{project.vote_ratio}}%</td>
            <!-- <td>{{project.vote_total}}</td> -->
            <td>{{project.created}}</td>
            <td><a href="{% url 'display' project.id %}">Views</a</td>
            <td><a href="{% url 'updateproject' project.id %}">Edit</a</td>
            <td><a href="{% url 'deleteproject' project.id %}">Delete</a</td>
       
          </tr>
      
        {% endfor %}
        
      </table>
      {% endblock content %}
</body>
</html>