<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Survey Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
        <div id="container">
            <form action="/result" method='POST'>
            {% csrf_token %}
            <h1>Welcome to Survey Form!</h1>
            <li>Your Name: <input type='text' name='name'> </li><br>
            <li>Location: <select name='location' id='#'></li><br>
                <option value="San Jose">Chicago</option>
                <option value="Chicago">Los Angeles</option>
                <option value="Seattle">Seattle</option>
            </select>
            <br><br>

            Favorite Language: <select name="language" id="#">
                <option value="python">Python</option>
                <option value="Javascript">Javascript</option>
                <option value="C#">C#</option>
            </select>
            <p>Comment (optional):</p>
            <textarea name="description"></textarea>
            <button type='submit'>Submit</button>
        
        


            </form>
        </div>  
    </div>
  </body>
</html>
